@charset "UTF-8";
.a {
  text-decoration: none;
}

.presentationName {
  color: red;
}

.viewMyWork {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 50%;
  border: solid 3px white;
  transition: background-color 0.3s ease;
}
.viewMyWork:hover {
  border: solid 3px red;
  background-color: red;
}

.viewMyWorkText {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: red;
}

.nav-link.selected {
  color: #ff6600;
}

.mainMenu {
  position: sticky;
  z-index: 9000;
  top: 0;
  border-bottom: solid red 1px;
}

.divContainer {
  display: flex;
  flex-flow: wrap row;
}

.divAbout {
  display: flex;
  flex-flow: wrap row;
  width: 50%;
  height: 30%;
  justify-content: space-evenly;
  align-items: center;
}

.aboutImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 15vh;
  background-color: rgb(0, 192, 192);
}

.divMyImg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap column;
  height: 75vh;
}

.myImgContainer {
  border: rgb(0, 160, 160) 2px solid;
  height: 50%;
  width: 75%;
  transform: skew(5deg);
}

.myImg {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.technologies {
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap row;
}

.technologyItem {
  display: flex;
  width: 95%;
  height: 8vh;
  margin-top: 1vh;
  background-color: rgb(242, 242, 242);
  border: solid rgb(161, 161, 161) 1px;
}

.technologyName {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  width: 20%;
  background-color: rgb(3, 218, 218);
}

.technologyXP100 {
  display: flex;
  width: 80%;
  background-color: rgb(0, 160, 160);
}

.technologyXP75 {
  display: flex;
  width: 60%;
  background-color: rgb(0, 160, 160);
}

.technologyXP50 {
  display: flex;
  width: 40%;
  background-color: rgb(0, 160, 160);
}

.technologyXP25 {
  display: flex;
  width: 20%;
  background-color: rgb(0, 160, 160);
}

.nav {
  display: flex;
  align-items: flex-end;
}

.projectNav {
  width: 25%;
}

.nav-item2 {
  transition: background-color 0.4s ease;
}
.nav-item2:hover {
  background-color: red;
}
.nav-item2:hover .nav-link {
  color: white;
}

.projectContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap column;
}

.projectImageContainer {
  width: 75%;
  height: 25%;
}

.blogLink {
  transition: 0.3s;
  width: 75vw;
  height: 75vh;
}
.blogLink:hover {
  background-color: rgb(233, 233, 233);
  color: black;
  width: 77vw;
}
.blogLink:hover .titlesBlog {
  color: rgb(0, 192, 192);
}

.blogImgsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%;
}

.blogTextContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 40%;
  flex-flow: wrap column;
}

.titlesBlog {
  color: black;
  text-align: start;
  transition: 0.2s;
}

.separador {
  border-bottom: 3px solid rgb(0, 192, 192);
  padding: 0 30px;
}

.textFragment {
  color: black;
}

.form-label {
  color: white;
}

.upsideButton {
  transform: translate(0, -3vh);
}

.socialMediaContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: wrap row;
}

.social-icon {
  transition: transform 0.3s ease-in-out; /* Agregar una transición suave */
}
.social-icon:hover {
  transform: scale(1.2); /* Hacer que el ícono se agrande al 120% cuando el cursor esté sobre él */
}

@media screen and (max-width: 767px) {
  .divContainer {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
  }
  .divAbout {
    width: 40%;
  }
  .myImgContainer {
    width: 50%;
  }
  .subMenuProjectNav {
    font-size: 1.3rem;
  }
  .projectContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap row;
  }
  .projectImageContainer {
    width: 45%;
    height: 25%;
  }
  .secondaryTitles {
    font-size: 2.2rem;
  }
  .viewMyWorkText {
    font-size: 1rem;
  }
  .thirdTitles {
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 992px) {
  .divContainer {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
  }
  .divAbout {
    width: 22%;
  }
  .divMyImageAndTechnologies {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .divMyImg {
    width: 40%;
  }
  .technologies {
    width: 40%;
  }
  .technologyItem {
    margin-top: 0;
  }
  .subMenuProjectNav {
    font-size: 1.3rem;
  }
  .projectContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap row;
  }
  .projectImageContainer {
    width: 45%;
    height: 25%;
  }
  .primaryTitle {
    font-size: 3.5rem;
  }
  .secondaryTitles {
    font-size: 2.4rem;
  }
  .viewMyWorkText {
    font-size: 1rem;
  }
  .thirdTitles {
    font-size: 1.9rem;
  }
}
@media screen and (min-width: 1200px) {
  .blogLink {
    width: 65vw;
    height: 70vh;
  }
  .blogLink:hover {
    width: 68vw;
  }
  .blogTextContainer {
    height: 30%;
  }
  .primaryTitle {
    font-size: 3.7rem;
  }
  .secondaryTitles {
    font-size: 2.6rem;
  }
  .viewMyWorkText {
    font-size: 1.9rem;
  }
  .thirdTitles {
    font-size: 2.1rem;
  }
}
@media screen and (min-width: 1400px) {
  .blogLink {
    width: 60vw;
    height: 65vh;
  }
  .blogLink:hover {
    width: 63vw;
  }
  .primaryTitle {
    font-size: 4rem;
  }
  .secondaryTitles {
    font-size: 3rem;
  }
  .viewMyWorkText {
    font-size: 2.1rem;
  }
  .thirdTitles {
    font-size: 2.3rem;
  }
}
html {
  scroll-behavior: smooth;
  font-size: 16px;
}

.bg {
  background-color: black;
}

.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-style: normal;
}

.secondBg {
  background-color: white;
}

.thirdBg {
  background-color: rgb(241, 241, 241);
}

.text {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  color: white;
}

.secondaryText {
  display: flex;
  justify-content: center;
  color: black;
  text-align: center;
}

.secondaryTitles {
  font-size: 1.5rem;
}

.thirdTitles {
  font-size: 1.3rem;
}

.border1 {
  border: solid red 1px;
}

.border2 {
  border: solid blue 1px;
}

.border3 {
  border: solid 1px yellow;
}

.fullScreenElement {
  height: 98vh;
  width: 98vw;
}

.px2000 {
  height: 2000px;
}

.vh25 {
  height: 25vh;
}

.vh50 {
  height: 50vh;
}

.vh75 {
  height: 75vh;
}

.vw25 {
  width: 25vw;
}

.vw50 {
  width: 50vw;
}

.vw75 {
  width: 75vw;
}

.h100 {
  height: 100%;
}

.h75 {
  height: 75%;
}

.h50 {
  height: 50%;
}

.h25 {
  height: 25%;
}

.w100 {
  width: 100%;
}

.w75 {
  width: 75%;
}

.w50 {
  width: 50%;
}

.w25 {
  width: 25%;
}

.flexCenteredHorizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap row;
}

.flexCenteredVertical {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap column;
}

.noMargin {
  margin: 0;
}

.margin10px {
  margin: 10px;
}

.margin1 {
  margin: 1%;
}

.marginBottom {
  margin-bottom: 5%;
}

.imgs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.imgsEdition {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 95%;
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

/*# sourceMappingURL=styles.css.map */
