


//Tablets STARTS

@media screen and (min-width: 767px) {
    .divContainer {
      display: flex;
      flex-flow: wrap row;
      justify-content: space-evenly;
    }
    .divAbout {
      width: 40%;
    }
    .myImgContainer {
      width: 50%;
    }
    .subMenuProjectNav {
      font-size: 1.3rem;
    }
    .projectContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: wrap row;
    }
    .projectImageContainer {
      width: 45%;
      height: 25%;
    }
  }

  @media screen and (min-width: 767px) {
    .thirdTitles {
      font-size: 1.5rem;
    }
  }

  //Tablets ENDS


  //Laptops STARTS


  @media screen and (min-width: 992px) {
    .divContainer {
        display: flex;
        flex-flow: wrap row;
        justify-content: space-evenly;
      }
      .divAbout {
        width: 22%;
      }
      .divMyImageAndTechnologies{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
      }
      .divMyImg{
        width: 40%;
      }
      .technologies{
        width: 40%;
      }
      .technologyItem{
        margin-top: 0;
      }
      .subMenuProjectNav {
        font-size: 1.3rem;
      }
      .projectContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: wrap row;
      }
      .projectImageContainer {
        width: 45%;
        height: 25%;
      }
  }


  @media screen and (min-width: 992px) {
    .primaryTitle{
        font-size: 3.5rem;
    }
    .secondaryTitles{
        font-size: 5rem;
    }
  }

  //Laptop ENDS
